body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    transition: 0.5s;
}
body.active{
    background: #2b2b2b;
    color: #fff;
    
}

html {
    scroll-behavior: smooth;
}
.custom-button {
    font-size: 1em; /* en lugar de 16px */
    padding: 0.625em 1.25em; /* en lugar de 10px 20px */
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.tables_ thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}


table td, .tables_ th {
    padding: 0.75rem; /* ya es relativo */
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.tables_ {
    width: 100%;
    margin-bottom: 1rem;
}
.title_1{
    text-align: center;
    margin-bottom: 50px;
}
.charts {
    margin-bottom: 30px;
}
/* Estilo para el botón activo */
.custom-button.active {
    background-color: #007bff;
}

/* Elimina el borde predeterminado de los botones en el grupo de botones */
.btn-group .custom-button {
    border: none;
}

/* Añade un efecto de transición suave cuando el mouse está sobre los botones */
.custom-button:hover {
    background-color: #007bff;
}

/* Añade un efecto de transición suave cuando el mouse está sobre el botón activo */
.custom-button.active:hover {
    background-color: #007bff;
}
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#charts-container {
    flex-grow: 1;
    justify-content: space-between; /* Permite que el contenedor de gráficos crezca para ocupar el espacio disponible */
    
}

.charts {
    flex: 1 0 auto; 

}
.metrics-table, .metrics-table * {
    flex-grow: 1; /* Permite que el contenedor de la tabla crezca para ocupar el espacio disponible */
}

form .form-group .form-control.small-form-control {
    width: 150px;
}


#toggle{
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    width: 70px;
    height: 35px;
    border-radius: 160px;
    background: #fff;
    transition: 0.5s;
    box-shadow: inset 0 8px 8px rgba(0, 0, 0 ,0.2),
                inset 0 8px 8px rgba(0, 0, 0 ,0.2),
                inset 0 -4px 4px rgba(0, 0, 0 ,0.2);
}
#toggle.active{
    background: #222;
    box-shadow: inset 0 8px 8px rgba(0, 0, 0 ,0.3),
    inset 0 2px 8px rgba(0, 0, 0 ,0.1),
    inset 0 -4px 8px rgba(0, 0, 0 ,0.1);

}

#toggle .indicator
{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: linear-gradient(to bottom , #eaeaea, #f9f9f9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 0 8px 10px rgba(0, 0, 0 ,0.2),
    inset 0 4px 4px rgba(255, 255, 255 ,0.8),
    inset 0 -4px 4px rgba(255, 255, 255 ,0.8);
    transition: 0.5s;
}

#toggle.active .indicator{
    left:35px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: inset 0 8px 10px rgba(0, 0, 0 ,0.6),
    inset 0 4px 4px rgba(255, 255, 255 ,0.3),
    inset 0 -4px 4px rgba(255, 255, 255 ,0.3);
}


/* CSS */
/* CSS */
#header-nav {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    padding: 0.8rem;
}

#header-nav .container_2 {
    display: flex;
    max-width: 80rem; /* Aproximadamente equivalente a max-w-7xl en Tailwind */
    align-items: center;
    justify-content: space-between;
    margin: auto;
}


#header-nav .container_2 nav {
    display: none;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    gap: 0 1.5rem;
    font-size: 1.125rem; /* Aproximadamente equivalente a text-lg en Tailwind */
    justify-content: center;
    font-weight: 500;
}

#header-nav .container_2 nav a {
    color: inherit;
}

#header-nav .container_2 nav a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    #header-nav .container_2 nav {
        display: flex;
    }
}

#header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 900px;
  }

@keyframes blur {
    to {
        box-shadow:
            0px 5px 50px -5px rgba(0, 0, 0, 0.05),  /* Reducir la opacidad a 0.05 */
            0px 0px 0 1px rgba(0, 0, 0, 0.15);  /* Reducir la opacidad a 0.15 */
        background: rgba(0, 0, 0, 0.15);  /* Reducir la opacidad a 0.15 */
        backdrop-filter: blur(10px);
    }
}
