<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Financial Analysis - Home</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		{% load static %}

		<link href="{% static 'css/index.css' %}" rel="stylesheet" />
	</head>
	<body>
		<div class="page-content">
			<div id="toggle">
				<i class="indicator"></i>
			</div>
			<script>
				const body = document.querySelector("body");
				const toggle = document.getElementById("toggle");

				// Al cargar la página, verifica si el toggle estaba activo la última vez
				var isDarkMode = localStorage.getItem("toggleActive") === "true";
				if (isDarkMode) {
					toggle.classList.add("active");
					body.classList.add("active");
				}

				toggle.onclick = function () {
					toggle.classList.toggle("active");
					body.classList.toggle("active");

					// Al hacer clic en el toggle, guarda su estado actual en localStorage
					localStorage.setItem(
						"toggleActive",
						toggle.classList.contains("active")
					);
				};

				// Escucha los cambios en prefers-color-scheme
				window
					.matchMedia("(prefers-color-scheme: dark)")
					.addEventListener("change", (e) => {
						var newColorScheme = e.matches ? "dark" : "light";

						// Si el nuevo esquema de colores es oscuro y el toggle no está activo, activa el toggle
						if (
							newColorScheme === "dark" &&
							!toggle.classList.contains("active")
						) {
							toggle.classList.add("active");
							body.classList.add("active");
							localStorage.setItem("toggleActive", true);
						}
						// Si el nuevo esquema de colores es claro y el toggle está activo, desactiva el toggle
						else if (
							newColorScheme === "light" &&
							toggle.classList.contains("active")
						) {
							toggle.classList.remove("active");
							body.classList.remove("active");
							localStorage.setItem("toggleActive", false);
						}
					});
			</script>

			<div class="container">
				<h1>Análisis de Acciones: Value Investing y Quant Analysis</h1>
				<p>
					Explora el emocionante mundo del análisis de acciones y lleva tu
					estrategia de inversión al siguiente nivel. Descubre cómo el Value
					Investing puede ayudarte a encontrar oportunidades ocultas y cómo el
					Quant Analysis te permite aprovechar los datos para tomar decisiones
					informadas. Accede a información detallada de más de 10,000 acciones y
					fondos, incluyendo las empresas líderes del S&P 500. Potencia tus
					inversiones y toma decisiones más inteligentes. ¡Comienza hoy mismo!
				</p>

				<form
					id="tickerForm"
					action="{% url 'redirect_to_analysis' %}"
					method="get"
				>
					<div class="form-group">
						<label for="ticker">Choose a Ticker:</label>
						<select name="ticker" id="ticker" class="form-control">
							{% for ticker in tickers %}
							<option value="{{ ticker }}">{{ ticker }}</option>
							{% endfor %}
						</select>
					</div>

					<button type="submit" class="custom-button">Go</button>
				</form>
			</div>
		</div>
		<footer class="custom-footer">
			<hr />
			<div class="flex-container">
				<span>© Diego Bravo 2024 Todos los derechos reservados.</span>
				<div>
					<a href="https://github.com/unzzui/" target="_blank">
						<svg
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								fill-rule="evenodd"
								d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
								clip-rule="evenodd"
							></path>
						</svg>
						<span class="sr-only">GitHub account</span>
					</a>
				</div>
			</div>
		</footer>
	</body>
</html>
