
body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}
body.active{
    background: #2b2b2b;
    color: #fff;
    
}

html {
    scroll-behavior: smooth;
}
.custom-button {
    font-size: 1em; /* en lugar de 16px */
    padding: 0.625em 1.25em; /* en lugar de 10px 20px */
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.tables_ thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}


table td, .tables_ th {
    padding: 0.75rem; /* ya es relativo */
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.tables_ {
    width: 100%;
    margin-bottom: 1rem;
}
.title_1{
    text-align: center;
    margin-bottom: 50px;
}
.charts {
    margin-bottom: 30px;
    width: 38.75rem; /* 620px / 16px = 38.75rem */
    height: 24.1875rem; /* 387px / 16px = 24.1875rem */
}


/* CSS */
.custom-button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.custom-button:hover {
  box-shadow: #121212 0 0 0 1px, transparent 0 0 0 0;
  transition: 300ms;

}
/* Estilo para el botón activo */
.custom-button.active {
    background-color: #007bff;
    color: white;
    

}

/* Elimina el borde predeterminado de los botones en el grupo de botones */
.btn-group .custom-button {
    border: none;
}

/* Añade un efecto de transición suave cuando el mouse está sobre los botones */
/* .custom-button:hover {
    background-color: #007bff;
} */

/* Añade un efecto de transición suave cuando el mouse está sobre el botón activo */
/* .custom-button.active:hover {
    background-color: #007bff;
} */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#charts-container {
    flex-grow: 1;
    justify-content: space-between; /* Permite que el contenedor de gráficos crezca para ocupar el espacio disponible */
    
}

.charts {
    flex: 1 0 auto; 

}
.metrics-table, .metrics-table * {
    flex-grow: 1; /* Permite que el contenedor de la tabla crezca para ocupar el espacio disponible */
}

form .form-group .form-control.small-form-control {
    width: 150px;
}


#toggle{
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    width: 70px;
    height: 35px;
    border-radius: 160px;
    background: #fff;
    transition: 0.5s;
    box-shadow: inset 0 8px 8px rgba(0, 0, 0 ,0.2),
                inset 0 8px 8px rgba(0, 0, 0 ,0.2),
                inset 0 -4px 4px rgba(0, 0, 0 ,0.2);
}
#toggle.active{
    background: #222;
    box-shadow: inset 0 8px 8px rgba(0, 0, 0 ,0.3),
    inset 0 2px 8px rgba(0, 0, 0 ,0.1),
    inset 0 -4px 8px rgba(0, 0, 0 ,0.1);

}

#toggle .indicator
{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: linear-gradient(to bottom , #eaeaea, #f9f9f9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 0 8px 10px rgba(0, 0, 0 ,0.2),
    inset 0 4px 4px rgba(255, 255, 255 ,0.8),
    inset 0 -4px 4px rgba(255, 255, 255 ,0.8);
    transition: 0.5s;
}

#toggle.active .indicator{
    left:35px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: inset 0 8px 10px rgba(0, 0, 0 ,0.6),
    inset 0 4px 4px rgba(255, 255, 255 ,0.3),
    inset 0 -4px 4px rgba(255, 255, 255 ,0.3);
}


/* CSS */
/* CSS */
#header-nav {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    padding: 0.8rem;
}

#header-nav .container_2 {
    display: flex;
    max-width: 80rem; /* Aproximadamente equivalente a max-w-7xl en Tailwind */
    align-items: center;
    justify-content: space-between;
    margin: auto;
}


#header-nav .container_2 nav {
    display: none;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    gap: 0 1.5rem;
    font-size: 1.125rem; /* Aproximadamente equivalente a text-lg en Tailwind */
    justify-content: center;
    font-weight: 500;
}

#header-nav .container_2 nav a {
    color: inherit;
}

#header-nav .container_2 nav a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    #header-nav .container_2 nav {
        display: flex;
    }
}

#header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 900px;
  }

@keyframes blur {
    to {
        box-shadow:
            0px 5px 50px -5px rgba(0, 0, 0, 0.05),  /* Reducir la opacidad a 0.05 */
            0px 0px 0 1px rgba(0, 0, 0, 0.15);  /* Reducir la opacidad a 0.15 */
        background: rgba(0, 0, 0, 0.15);  /* Reducir la opacidad a 0.15 */
        backdrop-filter: blur(10px);
    }
}
.custom-footer {
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    padding: 10px 0; /* Ajusta este valor según tus necesidades */
    font-size: small;
    display: flex; /* Añade esto */
    align-items: center; /* Añade esto */
    justify-content: center; /* Añade esto */
    flex-direction: column; /* Añade esto si el contenido debe estar en columnas */
    border-top: 2px outset rgba(0, 0, 0, 0.1); /* Añade esto */

}

body.active .custom-footer {
    border-top: 2px outset rgba(255, 255, 255, 0.1);
}

.custom-footer hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border-color: rgba(255, 255, 255, 0.1);
}

.custom-footer .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-footer a svg {
    height: 24px;
    width: 24px;
    fill: inherit;
}

body.active .custom-footer a svg{
    fill: #fff;
}

.custom-footer a {
    margin-left: 16px;
}
@media (min-width: 640px) {
    .custom-footer hr {
        margin-left: auto;
        margin-right: auto;
    }

    .custom-footer .flex-container {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}